.hidden {
  display: none !important;
}

@media only screen and (max-width: 575px) {
  div.hero.container {
    margin-top: 0;
    padding-top: 0;
  }

  div.row {
    flex-wrap: wrap;
  }

  .hero.container div.row {
    justify-content: center;
  }

  div.column-half {
    flex-basis: 100%;
  }

  div.hero-img-column {
    flex-basis: 100%;
    padding-right: 0;
  }

  div.hero-img-column > img {
    border-radius: 0 0 33.75px 33.75px;
  }

  div.hero-text-column {
    flex-basis: 100%;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
  }

  div.hero-button-row {
    justify-content: center;
  }

  div.hero-button {
    flex-basis: 48%;
  }

  div.map-column {
    flex-basis: 100%;
  }

  div.list-col {
    flex-basis: 100%;
  }

  .list-item .row h3 {
    font-size: 0.9rem;
  }

  div.activities {
    flex-basis: 100%;
    margin-top: 1.5rem;
  }

  div.map-image {
    justify-content: center;
  }

  .hero-text-column .row h2 {
    font-size: 1.875rem;
  }

  .row.photo-info-row {
    height: initial;
  }

  .row.photo-info-row h3 {
    font-size: 1.125rem;
  }

  .row.list-title-row h1 {
    font-size: 2.25rem;
  }

  .row.photo-info-row h1 {
    font-size: 1.5rem;
  }

  .list-item.row {
    flex-wrap: nowrap;
  }

  div.header-search-bar {
    width: 43%;
  }

  .header-visited-button,
  .header-wishlist-button {
    display: none;
  }

  div.header-more-button {
    display: flex;
    flex-direction: column;
  }

  header .column-half {
    flex-basis: 50%;
  }

  div.header-row-2 i {
    margin-left: 0;
  }
}
