body {
  background-color: #b7b7b7;
  margin-bottom: 3rem;
}

h4,
h1,
h2,
h3,
h5,
h6,
td,
button,
footer {
  font-family: roboto, sans-serif;
  font-weight: 100;
  margin: 0;
}

dialog h1 {
  color: rgb(204, 204, 204);
  flex-basis: 50%;
  justify-content: end;
  flex-direction: column;
  display: flex;
}

button {
  background-color: #597457;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.5rem;
}

.hero-text-column h1 {
  font-size: 5rem;
  padding-bottom: 2rem;
}

.hero-text-column h2 {
  font-size: 3.125rem;
  padding-bottom: 3rem;
}

.hero-text-column h4 {
  font-size: 1.875rem;
  padding-bottom: 2rem;
}

.hero-button > button {
  font-size: 1.21rem;
}

.main-list-container h1 {
  font-size: 3.54rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.hero-img-column {
  flex-basis: 33%;
}

img {
  width: 100%;
}

.hero-img-column > img {
  border-radius: 0 45px 45px 0;
}

.hero-text-column {
  flex-basis: 60%;
  padding-right: 3rem;
}

.hero-button-row {
  justify-content: center;
}

.title {
  font-family: lekton, serif;
  color: #597457;
}

.sub-title {
  font-family: lekton, serif;
}

i,
.header-title {
  color: #0005;
  font-size: 2.5rem;
}

header {
  background-color: #597457;
  position: sticky;
  top: 0;
}

.hero.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.hero-button {
  margin: 0.5rem;
}

.column-half {
  flex-basis: 50%;
}

.header-row-1 {
  justify-content: flex-start;
}

.header-row-2 {
  justify-content: flex-end;
}

.header-title {
  margin: 0;
  font-size: 1.75rem;
}

.header-home-button,
.header-title,
.header-search,
.header-visited-button,
.header-wish-button {
  margin: 1rem;
}

.header-row-2 i {
  font-size: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.map-column {
  flex-basis: 55%;
  padding: 3rem;
}

.list-col {
  flex-basis: 40%;
  margin: 2rem;
}

div.scrollmenu {
  background-color: #bfbab1;
  overflow: scroll;
  white-space: nowrap;
  height: fit-content;
  max-height: 800px;
}

.column-third {
  padding: 1rem;
}

.list-item {
  border: 1px solid black;
  overflow: hidden;
  height: 100px;
  justify-content: space-between;
}

.list-item img {
  width: 100px;
}

.list-item h3 {
  font-size: 1.5rem;
}

.list-item h5 {
  font-size: 1rem;
}

.photo-info-row {
  align-items: flex-end;
  background-image: url('../images/NationalParks_forwiki.jpeg');
  height: 500px;
  background-size: 100%;
  background-position: center;
}

.col-park-name,
.col-buttons {
  background-color: #e6e6e6a3;
  padding: 1rem;
}

.col-park-name {
  border-radius: 0 6px 0 0;
}

.col-buttons {
  border-radius: 6px 0 0;
}

.col-buttons button {
  margin: 0.5rem;
}

tr:nth-child(even) {
  background-color: #f2f2f280;
}

.page-activities {
  justify-content: space-around;
  align-items: flex-start;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.page-activities h3,
.events-list h3 {
  font-size: 2.81rem;
}

.activities {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.activities h3 {
  text-align: center;
}

.main-park-info h5 {
  font-size: 1.875rem;
  margin-top: 1rem;
  text-align: left;
  margin-left: 1rem;
  margin-right: 0.35rem;
}

.page-activities h5 {
  text-align: center;
}

.scrollmenu .row h5 {
  margin: 0;
}

.list-item:nth-child(0) {
  align-self: center;
}

.main-list-container > .row {
  justify-content: space-around;
}

.map-column img {
  width: 80%;
}

.col-park-name > h1 {
  font-size: 3.53rem;
}

.col-park-name > h3 {
  font-size: 2.81rem;
}

td {
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.column-full {
  flex-basis: 100%;
}

.list-text-col {
  align-self: flex-start;
  flex-basis: 100%;
}

input {
  width: 25%;
  display: inline;
}

select {
  width: 75%;
  align-self: center;
}

p {
  display: inline;
  padding-left: 1rem;
  padding-right: 1rem;
}

.date-row {
  justify-content: center;
}

.submit-row {
  margin-top: 5rem;
  align-self: flex-end;
  width: 100%;
}

.delete-anchor {
  color: rgb(177, 0, 0);
  text-decoration: underline;
}

.row.list-title-row {
  width: 80%;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.delete-modal h2 {
  color: rgb(255, 255, 255);
}

.row.list-title-row h2 {
  font-size: 2.25rem;
}

iframe {
  width: 100%;
  max-width: 1200px;
  height: 500px;
}

input,
select,
option {
  background-color: #d1d1d1;
  border-radius: 4px;
  border: 1px #ced4da solid;
  color: #6c757d;
  font-family: roboto, sans-serif;
  font-weight: 300;
}

.list-item .fa-solid {
  font-size: 1.5rem;
}

#search {
  width: 100%;
}

.row.lists-row {
  align-items: flex-start;
}

#state-select {
  width: 100%;
}

.empty-park {
  justify-content: center;
}

#activities:not(:focus) option:checked,
#events:not(:focus) option:checked {
  background-color: rgb(132, 173, 137);
}

.header-search-bar {
  width: 100%;
}

.events-list {
  flex-basis: 90%;
}

.park-events {
  justify-content: center;
}

.header-more-button {
  display: none;
}

.on {
  background-color: #b7b7b755;
}

.header-more-visited-button,
.header-more-wishlist-button {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.header-home-button:hover,
.header-title:hover,
button:hover,
.scrollmenu:hover,
a:hover,
input:hover,
select:hover {
  cursor: pointer;
}

.loading-dialog {
  background-color: #292929d4;
  width: 100%;
  height: 100%;
  border: #292929d4 5px solid;
  box-sizing: content-box;
}

.fa-spinner {
  color: rgb(132, 173, 137);
  text-align: center;
  flex-basis: 50%;
}

.dialog-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}

.delete-modal {
  background-color: #6c757d;
}

.delete-modal .row {
  margin: 1rem;
}

.modal-delete-buttons {
  justify-content: space-around;
}

.outdated {
  background-color: #ff76763c;
}
